@import "reset.css";


/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* Screens */
@import "screens/main.css";
@import "screens/screen-header.css";


.whole-screen{
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin: 0px auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    top: 0;
    height: 100vh;
    background-color: #ff8a3d;
    box-shadow: 0px 20px 10px rgb(97 97 97);
}

.top-fixed_screen {
    top: 0;
    margin: 0px 115px;
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #56c271;
    width: 120px;
    height: 25px;
    z-index: 10;
}

.main-screen {
  	padding: 20px 20px 70px 20px;
  	border-top-left-radius: 50px;
  	border-top-right-radius: 50px;
  	background-color: #befdce;
  	overflow-y: scroll;
    height: 80vh;
}

.main-screen::-webkit-scrollbar {
  display: none !important;
}